h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(182, 24, 24);
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(200, 12, 12);
}

#home img{
    margin: auto;
    display: block;
}

#img-ab{
margin: auto;
display: block;    
margin-block-start: 12px;
}

#img-home{
    float: center;
    width: 42%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;

}

#img-cont{
    margin: auto;
    display: block;

}

#contact{
    background-color: white
    color: rgb(211, 187, 187);

}

#home{
    background-color: white
    color: rgb(211, 187, 187);
}

#aboutus{
    background-color: white
    color: rgb(211, 187, 187);
}

#img-home-top{
    margin: auto;
    display: block;
    margin-block-start: 12px;
}